[submodule "terraform"]
	path = terraform
	url = git@github.com:ClavinJune/bjora-project-terraform.git
[submodule "backend"]
	path = backend
	url = git@github.com:ClavinJune/bjora-project-golang.git
[submodule "tf-modules"]
	path = tf-modules
	url = git@github.com:ClavinJune/bjora-project-terraform-modules
[submodule "go-modules"]
	path = go-modules
	url = git@github.com:ClavinJune/bjora-project-golang-modules
